<div class="card w-full bg-[#181E24] card-lg shadow-sm mb-4">
    <div class="card-body">
        <h2 class="card-title">Elecciones disponibles</h2>
        <ul>
            <li>
                <strong>Elección de Representantes 2025</strong> - 1 al 5 de agosto
                <button>Votar ahora</button>
            </li>
            <li>
                <strong>Consulta Popular Ambiental</strong> - 10 al 12 de agosto
                <button>Votar ahora</button>
            </li>
        </ul>
    </div>
</div>