<h2 class="text-3xl text-center my-4">Create candidate</h2>

<form class="flex flex-col items-center" [formGroup]="candidateForm" (ngSubmit)="onSubmit()">
    <label class="input mb-2">
        <input formControlName="id_card" type="number" placeholder="ID Card" />
    </label>
    <span class="text-red-500">{{getErrors("id_card")}}</span>

    <label class="input mb-2">
        <input formControlName="name" type="text" placeholder="Name" />
    </label>
    <span class="text-red-500">{{getErrors("name")}}</span>

    <label class="input mb-2">
        <input formControlName="party" type="text" placeholder="Party" />
    </label>
    <span class="text-red-500">{{getErrors("party")}}</span>

    <input type="submit" value="Save" class="btn btn-secondary" />
</form>