<div class="container mx-auto">
    @for (vote of resource.value(); track vote.id) {
    <div class="w-lg mx-auto flex rounded-lg bg-gray-700 border">
        <div class="py-2 grow-2 border-r">
            <div class="text-center text-sm">Id vote</div>
            <div class="text-center text-xl">{{vote.id}}</div>
        </div>
        <div class="grow-4">
            <div class="text-center border-b">voter</div>
            <div class="text-center">
                <div class="inline-block w-[50%]">
                    <div class="font-medium text-sm">id</div>
                    <div class="text-lg">{{vote.voter.id}}</div>
                </div>
                <div class="inline-block w-[50%]">
                    <div class="font-medium text-sm">name</div>
                    <div class="text-lg">{{vote.voter.name}}</div>
                </div>
            </div>
        </div>
        <div class="grow-4 border-l">
            <div class="text-center border-b">candidate</div>
            <div class="text-center">
                <div class="inline-block w-[50%]">
                    <div class="font-medium text-sm">id</div>
                    <div class="text-lg">{{vote.candidate.id}}</div>
                </div>
                <div class="inline-block w-[50%]">
                    <div class="font-medium text-sm">name</div>
                    <div class="text-lg">{{vote.candidate.name}}</div>
                </div>
            </div>
        </div>
    </div>
    }
</div>