:host {
  display: block;
}

.result-container {
  display: grid;
  grid-template-columns: 20fr 45fr 35fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}

.result-container div:nth-child(1) {
  grid-row: span 2;
}

.result-container div:nth-child(2) {
  grid-column: span 2;
}