<h2 class="text-2xl text-center mb-4">Vote for your preferred candidate</h2>

<div class="w-[65%] mx-auto flex flex-wrap gap-1 justify-center">
    @for (candidate of resource.value(); track candidate.id) {
    <div class="card bg-neutral text-neutral-content basis-[24.65%]">
        <div class="card-body items-center text-center">
            <h2 class="card-title">{{candidate.name}}</h2>
            <p>{{candidate.party}}</p>
            <div class="card-actions justify-end">
                <button class="btn btn-primary" (click)="registerVote(candidate.id)">Vote</button>
            </div>
        </div>
    </div>
    }
</div>